build_tools/** linguist-vendored
build/** linguist-vendored
release/** linguist-vendored
docs/** linguist-documentation
*.html linguist-generated
*.tex linguist-documentation
*.sty linguist-documentation
*.cls linguist-documentation
*.bib linguist-documentation
*.exe linguist-generated