# Ignore build artifacts from language stats
build/** linguist-vendored
release/** linguist-vendored
dist/** linguist-vendored

# Treat .toc files as generated (often detected as TeX)
*.toc linguist-generated

# Optional: other build outputs
*.spec linguist-generated
*.exe linguist-generated